$color-primary: #007acc;
$color-background: #2d2d30;
$color-background-highlight: $color-primary;
$color-text: #ffffff;
$color-text-highlight: #ffffff;
$font-family: "segoe ui", arial, sans-serif;
$font-size: 9pt;

$menu-backgroundcolor: #1b1b1c;
$menu-border: solid 1px #333337;
$menu-boxshadow: 2px 2px 3px rgba(0,0,0,0.5);
$menuitem-backgroundcolorhover: #3e3e40;
$menuitem-height: 22px;
$menuitem-height-nopopup: 18px;

$toolbar-height: 26px;
$toolbaritem-height: 24px;
$toolbaritemcontent-backgroundhover: $menuitem-backgroundcolorhover;
$toolbaritemcontent-height: 20px;
$toolbaritemcontent-outline: solid 1px #3399ff;
/*
$toolbaritemselectlabel-margin: 6px;
$toolbariteminputlabel-margin: 6px;
*/
$toolbargrip-width: 5px;
$toolbargrip-height: 18px;
$toolbargrip-margin: 2px;
$toolbarseparator-height: 20px;
$toolbarseparator-margin: 2px;
$toolbarseparator-color-left: #131212;
$toolbarseparator-color-right: #46464a;

$windowtitle-height: 22px;
$windowtitle-padding: 4px;
$windowtitle-color: #d0d0d0;
$windowtitle-color-focus: #ffffff;
$windowtitle-backgroundcolor: $color-background;
$windowtitle-backgroundcolor-focus: $color-background-highlight;
$windowtitlelabel-padding: 0px 8px;
$windowtitlecontrols-minwidth: 8px;
$windowtitlecontrols-padding: 4px;
$windowtitlecontrolicon-padding: 2px;
$windowcontent-background: #282929;

$modal-background: $color-background;
$modal-border: solid 1px $color-primary;
$modal-shadow: 0px 0px 3px rgba(0,0,0,0.25);
$modalcover-background: rgba(0,0,0,0.25);
$modalcover-zindex: 1000;
$modaltitle-background: $color-primary;
$modaltitle-height: 30px;
