$color-primary: #007acc;
$color-background: #2d2d30;
$color-background-highlight: $color-primary;
$color-text: #ffffff;
$color-text-highlight: #ffffff;
$font-family: "segoe ui", arial, sans-serif;
$font-size: 9pt;

$menuitem-backgroundcolorhover: #3e3e40;
$menuitem-height: 22px;
$menuitem-height-nopopup: 18px;

$windowtitle-height: 22px;
$windowtitle-padding: 4px;
$windowtitle-color: #d0d0d0;
$windowtitle-color-focus: #ffffff;
$windowtitle-backgroundcolor: $color-background;
$windowtitle-backgroundcolor-focus: $color-background-highlight;
$windowtitlelabel-padding: 0px 8px;
$windowtitlecontrols-minwidth: 8px;
$windowtitlecontrols-padding: 4px;
$windowtitlecontrolicon-padding: 2px;
