$iconcolor-outline: #2d2d30;
$iconcolor-content: #c1c1c1;
$iconcolor-blue: #7ac1ff;
$iconcolor-error: #ff3c2b;
$iconcolor-green: #8dd28a;
$iconcolor-orange: #d7ab69;
$iconcolor-pink: #d08fe1;
$iconcolor-purple: #a074c4;
$iconcolor-red: #f2806a;

icon {
    > svg * {
        &.outline {
            &:not(.stroke) {
                fill: $iconcolor-outline;
            }

            &.stroke {
                stroke: $iconcolor-outline;
            }
        }

        &.content {
            &:not(.stroke) {
                fill: $iconcolor-content;

                &.blue {
                    fill: $iconcolor-blue;
                }

                &.error {
                    fill: $iconcolor-error;
                }
                
                &.green {
                    fill: $iconcolor-green;
                }

                &.orange {
                    fill: $iconcolor-orange;
                }

                &.pink {
                    fill: $iconcolor-pink;
                }

                &.purple {
                    fill: $iconcolor-purple;
                }

                &.red {
                    fill: $iconcolor-red;
                }

            }

            &.stroke {
                stroke: $iconcolor-content;

                &.blue {
                    stroke: $iconcolor-blue;
                }

                &.error {
                    stroke: $iconcolor-error;
                }

                &.green {
                    stroke: $iconcolor-green;
                }

                &.orange {
                    stroke: $iconcolor-orange;
                }

                &.pink {
                    stroke: $iconcolor-pink;
                }

                &.purple {
                    stroke: $iconcolor-purple;
                }

                &.red {
                    stroke: $iconcolor-red;
                }
            }
        }
    }
}
