
modal-cover {
    position: fixed;
    z-index: $modalcover-zindex;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    background: $modalcover-background;

    &[active] {
        display: flex;
    }
}

modal {
    display: none;
    flex-direction: column;
    background-color: $modal-background;
    border: $modal-border;
    box-shadow: $modal-shadow;

    &[active] {
        display: flex;
    }

    > modal-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $modaltitle-background;
        height: $modaltitle-height;

        > modal-title-text {
            padding-left: 8px;
        }

        > modal-title-controls {

        }
    }

    > modal-content {
        display: flex;
        flex-grow: 1;
        overflow: hidden;

        > * {
            flex-grow: 1;
        }
    }

    > modal-controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 4px;

        > button {
            min-width: 120px;

            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }

    &[no-border] {
        border: none;
    }

    &[no-controls] > modal-controls {
        display: none;
    }

    &[no-title] > modal-title {
        display: none;
    }
}
