@import "constants";
@import "controls";
@import "control/control";
@import "document/document";
@import "modal/modal";
@import "window/window";
@import "window/window-container";

body {
    margin: 0px;
    padding: 0px;
    background-color: $color-background;
    color: $color-text;
    font-family: $font-family;
    font-size: $font-size;
    cursor: default;
    user-select: none;
}
