// Window
$title-height: $windowtitle-height;
$title-backgroundcolor: $windowtitle-backgroundcolor;
$title-backgroundcolor-focus: $windowtitle-backgroundcolor-focus;
$label-padding: $windowtitlelabel-padding;
$controls-minwidth: $windowtitlecontrols-minwidth;
$controls-padding: $windowtitlecontrols-padding;
$controlicon-padding: $windowtitlecontrolicon-padding;

// Window container
$header-borderwidth: 1px;
$header-bordercolor: #3f3f46;
$header-textcolor: #dfdfdf;
$header-textcolorselected: $color-primary;
$header-backgroundcolorselected: #282929; 
$content-borderwidth: $header-borderwidth;
$content-bordercolor: $header-bordercolor;

window {
    display: flex;
    flex-direction: column;

    &[hidden] {
        display: none;
    }

    > window-titlebar {
        background-repeat: repeat-x;
        background-position: center;
        background-color: $title-backgroundcolor;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > window-titlebar-text {
            display: block;
            padding: $label-padding;
            line-height: $title-height;
            background-color: $title-backgroundcolor;
            color: $windowtitle-color;
        }

        > window-titlebar-controls {
            display: flex;
            flex-direction: row;
            background-color: $title-backgroundcolor;
            padding-left: $controls-padding;
            min-width: $controls-minwidth;

            > icon {
                margin-right: $controlicon-padding;
            }
        }
    }

    > window-content {
        flex-grow: 1;
        overflow: auto;
    }

    &:not([no-background]) > window-content {
        background: $windowcontent-background;
    }

    &[has-focus] {
        > window-titlebar {
            background-color: $title-backgroundcolor-focus;

            > window-titlebar-text {
                background-color: $title-backgroundcolor-focus;
                color: $windowtitle-color-focus;
            }

            > window-titlebar-controls {
                background-color: $title-backgroundcolor-focus;
            }
        }
    }

    &[auto-hide], &[no-auto-hide] {
        > window-titlebar > window-titlebar-controls > icon:nth-child(2) {
            display: none;
        }
    }

    &:not([auto-hide]), &[no-auto-hide] {
        > window-titlebar > window-titlebar-controls > icon:nth-child(3) {
            display: none;
        }
    }

    &[no-close] > window-titlebar > window-titlebar-controls > icon:nth-child(4) {
        display: none;
    }

    &:not([no-move]) > window-titlebar {
        background-image: url(images/window-grip-pattern-3d.svg);
    }

    &:not([no-move])[has-focus] > window-titlebar {
        background-image: url(images/window-grip-pattern-3l.svg);
    }

    &[no-position] > window-titlebar > window-titlebar-controls > icon:nth-child(1) {
        display: none;
    }

    &[no-title] > window-titlebar {
        display: none;
    }

}

window-container {
    position: relative;
    display: flex;
    flex-direction: column;

    > window-container-position-overlay {
        position: absolute;
        z-index: 1000;
        display: grid;
        grid-template-columns: auto 40px auto;
        grid-template-rows: auto 40px auto;
        grid-template-areas:
            ". t . "
            "l c r"
            ". b .";
        width: 184px;
        height: 184px;
        left: calc(50% - 92px);
        top: calc(50% - 92px);

        > window-container-position {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.25);
            box-sizing: border-box;
            border: solid 1px #333337;

            &.top {
                grid-area: t;
                justify-content: flex-start;
                border-bottom-style: none;

                > icon {
                    margin-top: 3px;
                }
            }

            &.left {
                grid-area: l;
                justify-content: flex-start;
                border-right-style: none;

                > icon {
                    margin-left: 3px;
                }
            }

            &.center {
                grid-area: c;
                border-style: none;
            }

            &.right {
                grid-area: r;
                justify-content: flex-end;
                border-left-style: none;

                > icon {
                    margin-right: 3px;
                }
            }

            &.bottom {
                grid-area: b;
                justify-content: flex-end;
                border-top-style: none;

                > icon {
                    margin-bottom: 3px;
                }
            }

            &.top, &.center, &.bottom {
                flex-direction: column;
                width: 40px;
            }

            &.left, &.center, &.right {
                height: 40px;
            }

            > icon {
                opacity: 0.875;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    > window-container-headers {
        position: relative;
        height: 21px;
        box-sizing: border-box;

        > window-container-headers-tabs {
            display: flex;
            flex-direction: row;

            > window-container-tab {
                color: #d0d0d0;

                &[selected] {
                }
            }
        }
    }

    > window-container-windows {
        border: solid $content-borderwidth $content-bordercolor;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        > window {
            flex-grow: 1;
        }
    }

    &[mode=docked] {
        > window-container-headers {
            order: 2;
            border-top: solid $header-borderwidth $header-bordercolor;

            > window-container-headers-tabs {
                position: absolute;
                left: 0px;
                right: 0px;
                top: -1px;
                bottom: 0px;

                > window-container-tab {
                    border: solid $header-borderwidth transparent;
                    text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
                    padding: 0px 5px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
    
                    &[selected] {
                        border: solid $header-borderwidth $header-bordercolor;
                        border-top-color: $header-backgroundcolorselected;
                        background-color: $header-backgroundcolorselected;
                        color: #0097fb;
                    }

                    > icon {
                        display: none;
                    }
                }
            }
        }

        > window-container-windows {
            order: 1;
            border-bottom-style: none;
        }
    }

    &[mode=docked-document] {
        > window-container-headers {
            order: 1;
            border-bottom: solid 2px #007acc;

            > window-container-headers-tabs {
                height: 100%;

                > window-container-tab {
                    display: flex;
                    align-items: center;
                    color: #f1f1f1;
                    text-shadow: 1px 0px 0px rgba(0,0,0,0.25);
                    padding: 0px 3px 0px 5px;

                    &[selected] {
                        background-color: #007acc;
                        color: #ffffff;
                    }

                    &:not([selected]):hover {
                        background-color: #1c97ea;
                    }

                    > icon {
                        margin-left: 7px;
                        background-color: #ff0000;
                    }

                    &[pinned] > icon:nth-of-type(1) {
                        display: none;
                    }

                    &:not([pinned]) > icon:nth-of-type(2) {
                        display: none;
                    }

                    > icon:nth-of-type(3) {
                        margin-left: 2px;
                        background-coloR: #af0000;
                    }
                }
            }
        }

        > window-container-windows {
            order: 2;
            border-top-style: none;

            > window {
                > window-titlebar {
                    display: none;
                }
            }
        }
    }

    &[mode=auto-hide] {
        > window-container-headers {
            order: 1;
            flex-grow: 1;

            > window-container-headers-tabs {
                transform: rotate(90deg) translate(-25px);
                transform-origin: 0px 25px;

                > window-container-tab {
                    height: 20px;
                    border-top: solid 5px #3f3f46;
                    color: #d0d0d0;
                    text-shadow: 1px 0px 0px rgba(0,0,0,0.25);
                    white-space: nowrap;

                    &:hover {
                        color: #0097FB;
                        border-color: #007acc;
                    }

                    &:not(:nth-of-type(1)) {
                        margin-left: 12px;
                    }

                    > icon {
                        display: none;
                    }
                }
            }
        }

        > window-container-windows {
            order: 2;
            position: absolute;
            top: 0px;
            right: 25px;
            width: 320px;
            height: 200px;
            box-shadow: -1px 0px 0px $color-background, -2px 0px 0px $color-background, -3px 0px 0px $color-background;
        }
    }

}

body:not([dragging]) window-container > window-container-position-overlay {
    display: none;
}
