
toolbar-separator {
    height: $toolbarseparator-height;
    margin: 0px $toolbarseparator-margin;
    border-left: solid 1px $toolbarseparator-color-left;
    border-right: solid 1px $toolbarseparator-color-right;
}
