@import "constants";
@import "frame/title-bar";
@import "frame/quick-launch";
@import "frame/main-menu";
@import "frame/toolbar-container";
@import "frame/status-bar";
@import "dialogs/dialog-about";
@import "dialogs/dialog-extensions";
@import "dialogs/dialog-open-connection";
@import "dialogs/dialog-options";
@import "windows/host-explorer";
@import "windows/network-explorer";

application {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    background-color: #2d2d30;
    border: solid 1px #434346;
    box-sizing: border-box;

    &[has-focus] {
        border-color: $color-primary;
    }

    > application-client-area {
        position: relative;
        flex-grow: 1;
    }
}
