// Window
$title-height: $windowtitle-height;
$title-backgroundcolor: $windowtitle-backgroundcolor;
$title-backgroundcolor-focus: $windowtitle-backgroundcolor-focus;
$label-padding: $windowtitlelabel-padding;
$controls-minwidth: $windowtitlecontrols-minwidth;
$controls-padding: $windowtitlecontrols-padding;
$controlicon-padding: $windowtitlecontrolicon-padding;

window {
    display: flex;
    flex-direction: column;

    &[hidden] {
        display: none;
    }

    > window-titlebar {
        background-repeat: repeat-x;
        background-position: center;
        background-color: $title-backgroundcolor;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > window-titlebar-text {
            display: block;
            padding: $label-padding;
            line-height: $title-height;
            background-color: $title-backgroundcolor;
            color: $windowtitle-color;
        }

        > window-titlebar-controls {
            display: flex;
            flex-direction: row;
            background-color: $title-backgroundcolor;
            padding-left: $controls-padding;
            min-width: $controls-minwidth;

            > icon {
                margin-right: $controlicon-padding;
            }
        }
    }

    > window-content {
        flex-grow: 1;
        overflow: auto;
    }

    &:not([no-background]) > window-content {
        background: $windowcontent-background;
    }

    &[has-focus] {
        > window-titlebar {
            background-color: $title-backgroundcolor-focus;

            > window-titlebar-text {
                background-color: $title-backgroundcolor-focus;
                color: $windowtitle-color-focus;
            }

            > window-titlebar-controls {
                background-color: $title-backgroundcolor-focus;
            }
        }
    }

    &[auto-hide], &[no-auto-hide] {
        > window-titlebar > window-titlebar-controls > icon:nth-child(2) {
            display: none;
        }
    }

    &:not([auto-hide]), &[no-auto-hide] {
        > window-titlebar > window-titlebar-controls > icon:nth-child(3) {
            display: none;
        }
    }

    &[no-close] > window-titlebar > window-titlebar-controls > icon:nth-child(4) {
        display: none;
    }

    &:not([no-move]) > window-titlebar {
        background-image: url(images/window-grip-pattern-3d.svg);
    }

    &:not([no-move])[has-focus] > window-titlebar {
        background-image: url(images/window-grip-pattern-3l.svg);
    }

    &[no-position] > window-titlebar > window-titlebar-controls > icon:nth-child(1) {
        display: none;
    }

    &[no-title] > window-titlebar {
        display: none;
    }

    &[flexible-layout] > window-content {
        display: flex;
        flex-direction: column;
    }
}
